<div class="span12 well">
   <h2>Edit account details</h2>
   <div class="span3">
       <form name="signUpForm">
           <label>
               First Name
                   <input type="text" name="firstname" class="span3" placeholder="John" required="required" data-ng-model="user.first_name" /></label>
           	<label>
               Last Name
                   <input type="text" name="lastname" class="span3" placeholder="Smith" required="required" data-ng-model="user.last_name" /></label>
           	<label>
               Email Address
                   <input type="email" name="email" class="span3" placeholder="someone@example.com" required="required" data-ng-model="user.email" /></label>
           	<label>
               Location                  
				<div class="controls">
	
					<select class="" name="locality" ng-model="userInfo.location"
						value="userInfo.location">
						<option ng-repeat="locality in locations" id="{[{locality.id}]}"
							value="{[{ locality.resource_uri}]}">{[{locality.name}]}</option>
					</select>
				</div>
			</label>
			<label>
               Address
                   <input type="text" name="address" class="span3" placeholder="Type your address" required="required" data-ng-model="userInfo.address" />
            </label>
            <label>
               City
                   <input type="text" name="city" class="span3" placeholder="City" required="required" data-ng-model="userInfo.city" />
             </label>
           	
          	<button type="submit" class="btn btn-primary pull-right" data-ng-click="updateUser()">
              Update account info</button>
          <div class="clearfix"></div>
      </form>
  </div>
</div>
