<div class="span12 well">
   <h2>Edit account details</h2>
   <div class="span3">
       <form name="signUpForm">
           <label>
               First Name
                   <input type="text" name="firstname" class="span3" placeholder="John" required="required" data-ng-model="user.first_name" /></label>
           	<label>
               Last Name
                   <input type="text" name="lastname" class="span3" placeholder="Smith" required="required" data-ng-model="user.last_name" /></label>
           	<label>
               Email Address
                   <input type="email" name="email" class="span3" placeholder="someone@example.com" required="required" data-ng-model="user.email" /></label>
           	<label>
               User Name
                   <input type="text" name="username" class="span3" autocomplete="off" placeholder="User Name" required="required" data-ng-model="user.username" /></label>
           	<label>
               Password
                   <input type="password" name="password" class="span3" autocomplete="off" required="required" data-ng-model="user.password" /></label>
            <label>
               Confirm Password
                   <input type="password" name="confirmPassword" class="span3" autocomplete="off" required="required" data-ng-model="user.confirmPassword" /></label>
          	<button type="submit" class="btn btn-primary pull-right" data-ng-click="updateUser()" data-ng-disabled="isSaveDisabled()">
              Update account info</button>
          <div class="clearfix"></div>
      </form>
  </div>
</div>
