<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<carousel interval="myInterval">
				<slide ng-repeat="slide in slides" active="slide.active"> 
				<img ng-src="{[{slide.image}]}" style="margin: auto;" />
				<div class="carousel-caption">
					<h4>Slide {[{$index}]}</h4>
					<p>{[{slide.text}]}</p>
				</div>
				</slide> 
			</carousel>
		</div>
	</div>
</div>

<div class="hero-unit">

	<div class="bs-docs-example">
	<strong>Metamorphosis</strong> is an initiative to provide citizens the tools to be a positive change in the society.
	<br/>
	<br/>
	
	<dt>Be The Change You Want to See</dt>
	How many of us have reported civic issues to the government bodies? Change in a society begins with the will on the part of citizens to report issues to authorities and do their part in the resolution of the problems. Change is not "Passive". We need to "act" to "change". By providing citizens with easy access to right information and tools that make easy the reporting of problems, we can remove the barrier to change.
	
	<br/>
	<br/>
	<dt>What Can This Site Do For You?</dt>
	The site provides a forum for citizens to collaborate, voice out the civic issues they are facing in their locality. It also provides goverment officials with data about the pain points of the citizens and engages them to take corrective action.
	
	<br/>
	<br/>
	The key feature of the site is the complaints register and complaints tracking. The site also allows for the collaboration on issues being reported, provides information about the civic bodies and escalation points, citizen rights, map of the local wards and zones with complaints registered in these zones.
	</div>

</div>