<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<carousel interval="myInterval">
				<slide ng-repeat="slide in slides" active="slide.active"> 
				<img ng-src="{[{slide.image}]}" style="margin: auto;" />
				<div class="carousel-caption">
					<h4>Slide {[{$index}]}</h4>
					<p>{[{slide.text}]}</p>
				</div>
				</slide> 
			</carousel>
		</div>
	</div>
</div>

<div class="hero-unit">
	<center>
		<p>
		<h2>Anniyan.com</h2>
		</p>
		<a href="#signup/">
		<button class="btn-success btn-large">Join Us !</button></a>
	</center>

</div>