<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

     {% load staticfiles %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.css' %}" />
    
     <style type="text/css">
        .nav, .pagination, .carousel a
        {
            cursor: pointer;
        }
    </style>
    
    <script src="{% static 'scripts/jquery/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'scripts/bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'scripts/angular/angular.js' %}"></script>
    <script src="{% static 'scripts/angular/ui-bootstrap-tpls-0.6.0.js' %}"></script>
    
    <script src="{% static 'scripts/js/app.js' %}"></script>
    <script src="{% static 'scripts/js/directives.js' %}"></script>
    <script src="{% static 'scripts/js/services.js' %}"></script>
    <script src="{% static 'accounts/js/login.js' %}"></script>

</head>

<body ng-controller="LoginController">

    <div class="navbar navbar-inverse nav">

        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#/home" name="top">My City</a>
                <div class="nav-collapse collapse" ng-init="incorrectCredentials = false">
                    <ul class="nav">
                    </ul>
                  		{% if request.user.is_authenticated %}
                  		<div></div>
                  		{% else %}
                    
                    <ul class="nav pull-right">
                        <li><a href="#/signup">Sign Up</a></li>
                        <li class="divider-vertical"></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
                            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                                <form name="loginForm">
                                	<div class="alert alert-error" ng-show="incorrectCredentials">
                                		Incorrect Credential!
                            		</div>
                                    <input style="margin-bottom: 15px;" type="text" placeholder="Username" id="username" name="username" autocomplete="off" ng-model="user.userName" required="required" data-ng-change="incorrectCredentials=false" />
                            		<input style="margin-bottom: 15px;" type="password" placeholder="Password" id="password" name="password" autocomplete="off" ng-model="user.password" required="required" data-ng-change="incorrectCredentials=false" />
                                    <button class="btn btn-primary btn-block" type="submit" ng-disabled="loginForm.$invalid" ng-click="login()">Login</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                    
                            {% endif %}
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </div>
        <!--/.navbar-inner -->
    </div>
    <!--/.navbar -->
    
    <div class="container">
    	<div ng-view>
    	</div>
    </div>
    
    
    <script>
        $(document).ready(function () {
            //Handles menu drop down
            $('.dropdown-menu').find('form').click(function (e) {
                e.stopPropagation();
            });
        });
    </script>

</body>
</html>
