<!DOCTYPE html>
<html ng-app="app">
<head>
<title>Home page</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{% load staticfiles %}

<link rel="stylesheet" type="text/css"
	href="{% static 'css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css"
	href="{% static 'css/bootstrap-responsive.css' %}" />

<style type="text/css">
.nav, .pagination, .carousel a {
	cursor: pointer;
}

a.icon {
	cursor: pointer;
}

#loginModal
{
	height: 100%;
	min-height: 100%
}
</style>

 <style>
      html, body {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #map-canvas {
      	width: 400px;
        height: 400px;
        margin: 0px;
        padding: 0px
      }
      #panel {
        top: 5px;
        left: 50%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
       #target {
        width: 345px;
      }
      
    </style>

<script src="{% static 'scripts/jquery/jquery-1.10.2.js' %}"></script>
<script src="{% static 'scripts/bootstrap/bootstrap.js' %}"></script>
<script src="{% static 'scripts/angular/angular.js' %}"></script>
<script src="{% static 'scripts/angular/angular-file-upload.js' %}"></script>
<script src="{% static 'scripts/angular/ui-bootstrap-tpls-0.6.0.js' %}"></script>

<script src="{% static 'scripts/js/app.js' %}"></script>
<script src="{% static 'scripts/js/directives.js' %}"></script>
<script src="{% static 'scripts/js/services.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script src="{% static 'accounts/js/locality.js' %}"></script>
</head>

<body>
	<div class="head">
		<div class="row-fluid">
			<div class="span12">
				<div class="span6">
					<h1 class="muted">My City</h1>
				</div>

				<div class="span4 offset2" style="margin-top: 15px;">
					<a href="/accounts/logout" class="btn btn-link pull-right">Sign Out</a>
					<a href="/accounts/#/edit" class="btn btn-link pull-right">My Account</a>
					<label class="label">Select City</label> <select class="span6"
						name="locality">
						<option></option>
						<option value="13.00118,80.25650">Adyar</option>
						<option value="13.03364,80.25052">Alwarpet</option>
						<option value="13.00807,80.21625">Guindy</option>
						<option value="13.01995,80.21814">Saidapet</option>						
					</select>
				</div>
			</div>
		</div>
	</div>

	<!-- Top Nav Bar -->
	<div class="navbar navbar-inverse nav">
		<div class="navbar-inner">
			<div class="container">
				<!--a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <!--a class="brand" href="/">My City</a-->
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="divider-vertical"></li>
						<li class="active"><a href="/landing"><i
								class="icon-home icon-white"></i> Home</a></li>
						<li><a href="#"><i class="icon-home icon-white"></i>
								Complaints</a></li>
						<li><a href="/accounts/locality"><i class="icon-home icon-white"></i> My
								City</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- /Top NavBar-->
   
    <title>Places search box</title>
    
    <script>


    </script>  
    <div id="panel">
      <select id="target" class="span6"
						name="locality">
						<option></option>
						<option value="13.00118,80.25650">Adyar</option>
						<option value="13.03364,80.25052">Alwarpet</option>
						<option value="13.00807,80.21625">Guindy</option>
						<option value="13.01995,80.21814">Saidapet</option>					
					</select>
    </div>
    <div id="map-canvas"></div>
  </body>
</html>