<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Post a new complaint</title> {% load staticfiles %}

<link rel="stylesheet" type="text/css"
	href="{% static 'css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css"
	href="{% static 'css/bootstrap-responsive.css' %}" />

<script src="{% static 'scripts/jquery/jquery-1.10.2.js' %}"></script>
<script src="{% static 'scripts/bootstrap/bootstrap.js' %}"></script>
<script src="{% static 'scripts/angular/angular.js' %}"></script>
<script src="{% static 'scripts/angular/angular-file-upload.js' %}"></script>
<script src="{% static 'scripts/angular/ui-bootstrap-tpls-0.6.0.js' %}"></script>

<script src="{% static 'scripts/js/app.js' %}"></script>
<script src="{% static 'scripts/js/directives.js' %}"></script>
<script src="{% static 'scripts/js/services.js' %}"></script>
<script src="{% static 'complaint/scripts/ComplaintController.js' %}"></script>

</head>
<body ng-app="app">
	<div class="row-fluid" ng-controller="ComplaintController">
		<form class="form-horizontal">
			<fieldset>
				<div id="legend">
					<legend class="">Post Complaint</legend>
				</div>
				<!-- Name -->
				<div class="control-group">
					<label class="control-label" for="Title">Title</label>
					<div class="controls">
						<input type="text" id="title" name="title" placeholder=""
							class="input-xlarge" ng-model="complaint.title">
					</div>
				</div>

				<!-- Expiry-->
				<div class="control-group">
					<label class="control-label" for="category">Category</label>
					<div class="controls">
						<select class="span2" name="Category-list" id="category-list"
							ng-model="complaint.category">
							<option ng-repeat="category in categories" id={[{category.id}]}> {[{category.name}]}</option>
						</select>

					</div>
				</div>
				<!-- CVV -->
				<div class="control-group">
					<label class="control-label" for="locality">Locality</label>
					<div class="controls">

						<select class="span2" name="locality"
							ng-model="complaint.locality">
							<option></option>
							<option value="13">Adayar</option>
							<option value="14">Guindy</option>
							<option value="15">Besant Nagar</option>
							<option value="16">Anna Nagar</option>
						</select>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="Address">Address</label>
					<div class="controls">
						<textarea class="span4" rows="4"
							placeholder="Enter your complete address"
							ng-model="complaint.address"></textarea>

					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="Address">Email</label>
					<div class="controls">
						<div class="input-prepend">
							<span class="add-on"><i class="icon-envelope"></i></span> <input
								type="text" id="email" name="email" ng-model="complaint.email">
						</div>

					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="Address">Phone</label>
					<div class="controls">
						<div class="input-prepend">
							<span class="add-on"><i class="icon-star"></i></span> <input
								type="text" id="phone" name="phone" ng-model="complaint.phone">
						</div>

					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="Info">Information</label>
					<div class="controls">
						<textarea class="span4" rows="4"
							placeholder="Decribe your complaint"
							ng-model="complaint.information"></textarea>

					</div>
				</div>

<!-- 				<div class="control-group"> -->
<!-- 					<label class="control-label" for="Address">Image</label> -->
<!-- 					<div class="controls"> -->

<!-- 						<div class="input-prepend input-append"> -->
<!-- 							<span class="add-on"><i class="icon-picture"></i></span><input -->
<!-- 								type="text" id="" name=""> -->
<!-- 							<button class="btn" type="button">Upload</button> -->
<!-- 						</div> -->

<!-- 						<div> -->
<!-- 							<input type="text" ng-model="myModelObj"> <input -->
<!-- 								type="file" ng-file-select="onFileSelect($files)"> <input -->
<!-- 								type="file" ng-file-select="onFileSelect($files)" multiple> -->
<!-- 							<div ng-show="dropSupported" class="drop-box" -->
<!-- 								ng-file-drop="onFileSelect($files);">drop files here</div> -->
<!-- 							<div ng-show="!dropSupported" -->
<!-- 								ng-file-drop-available="dropSupported=true">HTML5 Drop -->
<!-- 								File is not supported!</div> -->
<!-- 						</div> -->

<!-- 					</div> -->
<!-- 				</div> -->

				<!-- Submit -->
				<div class="control-group">
					<div class="controls">
						<button class="btn btn-success" ng-click="postComplaints($event)">Post Complaint</button>
						<button class="btn btn-danger">Cancel</button>

					</div>
				</div>
			</fieldset>
		</form>
	</div>
</body>
</html>